<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">
			com.mysql.cj.jdbc.Driver
		</property>

		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/university
		</property>

		<property name="hibernate.connection.username">
			root
		</property>

		<property name="hibernate.connection.password">
			12125
		</property>

		<!-- Hibernate Dialect -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<!-- Hibernate Behavior -->
		<property name="hibernate.hbm2ddl.auto">
			update
		</property>

		<property name="hibernate.show_sql">
			true
		</property>

		<property name="hibernate.format_sql">
			true
		</property>

		<!-- Entity Mapping -->
		<mapping class="com.utilities.Student" />
		<mapping class="com.utilities.Course" />
		<mapping class="com.utilities.Notice" />

	</session-factory>
</hibernate-configuration>
